@{
    ViewBag.Title = "eMiLy";
}

<div id="body" class="continer-fluid mb-5">
    <div class="row">
        <div id="b1" class="col-lg-4 col-sm-12 card style1 z-depth-3 rounded p-2">
            <div>
                <ul class="list-group">
                    <li class="list-group-item mt-2 style3 black-text z-depth-2 white-text">Steps</li>
                    <li class="list-group-item mt-4 white z-depth-2">
                        <ol>
                            <li class="black-text">
                                <b>Upload your File</b><br />
                                Please make sure your data,in the .csv format, is clean to ensure the best results.
                                Let’s check how clean is your data here.(add a hyperlink)
                            </li>
                            <li class="black-text">
                                <b>Select the Attribute</b><br />
                                Select the column name from your dataset for which you wish to get the predictions or the classification.
                            </li>
                            <li class="black-text">
                                <b>Hit the ‘Submit’ button</b><br />
                            </li>
                            <li class="black-text">
                                <b>Sit Back and Relax</b><br />
                                Please wait while we process your request and get back to you with the the results.
                            </li>
                            <br />
                            <b>Voila!</b> You now have the predicted values of the accuracy rates you might hit with all the other algorithms that can be applied to your data. And thus you have the Best out of the lot.
                        </ol>
                    </li>
                </ul>
            </div>
        </div>
        <div id="b2" class="col-lg-4 col-sm-12 card style2 z-depth-3 rounded py-5">
            <div class="row">
                <div class="col-lg-3 col-sm-4"></div>
                <div class="col-lg-6 col-sm-4" id="uploadblock">
                    <div class="grey p-5 z-depth-1">
                        <center>
                            <h1 class="black-text" id="uploadbtn">Upload</h1>
                            <i class="fa fa-upload big" aria-hidden="true"></i>
                        </center>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-4"></div>
            </div>
            <div class="row">
                <div class="col-2"></div>
                <div class="col-8">
                    <center>
                        @*<button id="btnGroupVerticalDrop3" type="button" class="btn btn-teal dropdown-toggle lighten-5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="white-text">Dropdown</span>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="btnGroupVerticalDrop3">
                                <a class="dropdown-item">Dropdown link</a>
                                <a class="dropdown-item">Dropdown link</a>
                            </div><br />
                            <a href="" class="btn btn-primary z-depth-2 m-0" id="submit">Submit</a>*@
                        <input type="file" id="files" name="files" onchange="extractHeader();" />
                        <br />
                        <textarea id="base64" rows="5" style="display:none"></textarea>
                        <br />
                        <select id="selectHeader">
                            <option>Select Column</option>
                        </select>
                        <br />
                        <button onclick="result();">Submit</button>
                    </center>
                </div>
                <div class="col-2"></div>
            </div>

            //// Pick File
            <script src="scripts\base64.js"></script>
            <script>
                debugger;
                var userIdField = document.querySelector("#id");
                var user = "dummy";
                if (userIdField == null) {

                } else {
                    user = userIdField.textContent;
                }
                function result() {
                    debugger;
                    var file = document.getElementById("files").files[0];

                    var e = document.getElementById("selectHeader");
                    var columnName = e.options[e.selectedIndex].text;

                    // document.getElementById('id01').style.display = 'block';

                    var base64File = document.querySelector("#base64").value;

                    makeFileEntry(base64File, file.name, columnName, user);

                    $("#myModal").modal();
                    setTimeout(function () {
                        window.location.href = "results.html?" + fileId;
                    }, 5000);
                }

                function extractHeader() {
                    debugger;
                    var dataFile = document.getElementById("files");
                    var op = Papa.parse(dataFile.files[0], {
                        complete: function (results) {
                            debugger;
                            console.log("Finished:", results.data);
                            if (results.errors.length == 0) {
                                var select = document.getElementById("selectHeader");
                                results.data[0].forEach((header, index) => {
                                    var el = document.createElement("option");
                                    el.textContent = header;
                                    el.value = index;
                                    select.appendChild(el);
                                });
                            } else {
                                alert("CSV file is not proper.");
                            }
                        }
                    });
                }
            </script>


        </div>
        <div id="b3" class="col-lg-3 col-sm-12 style1 card z-depth-3 rounded p-2">
            <ul class="list-group">
                <li class="list-group-item my-2 style3 z-depth-2 white-text">Features</li>
                <li class="black-text list-group-item mt-3 rounded z-depth-2 features">Tired of those multiple trial and error cycles to find out what's best for your data? Confused which Machine Learning model to use? Don't worry, eMiLy is here to help you!</li>
                <li class="black-text list-group-item mt-3 rounded z-depth-2 features">Get instant results with very easy steps.</li>
                <li class="black-text list-group-item mt-3 rounded z-depth-2 features">Now you can focus on training you model rather than finding a good model for your data.</li>
                <li class="black-text list-group-item mt-3 rounded z-depth-2 features">Having trouble tuning your model? Want to know the best parameters? eMiLy is here to help you!</li>
                <li class="black-text list-group-item mt-3 rounded z-depth-2 features">Get instant access to your previous run reports on a single page.</li>
                <li class="black-text list-group-item mt-3 rounded z-depth-2 features">Visualize results on a graphical dashboard which will help you compare the performances of different models easily in one go.</li>
            </ul>
        </div>
    </div>
</div>

<!--Processing Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body">
                <center>
                    <svg class="lds-spinner" width="350px" height="350px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" style="background: none;">
                        <g transform="rotate(0 50 50)">
                            <rect x="47" y="24" rx="9.4" ry="4.8" width="6" height="12" fill="#8cd0e5">
                                <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.9166666666666666s" repeatCount="indefinite"></animate>
                            </rect>
                        </g>
                        <g transform="rotate(30 50 50)">
                            <rect x="47" y="24" rx="9.4" ry="4.8" width="6" height="12" fill="#8cd0e5">
                                <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.8333333333333334s" repeatCount="indefinite"></animate>
                            </rect>
                        </g>
                        <g transform="rotate(60 50 50)">
                            <rect x="47" y="24" rx="9.4" ry="4.8" width="6" height="12" fill="#8cd0e5">
                                <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.75s" repeatCount="indefinite"></animate>
                            </rect>
                        </g>
                        <g transform="rotate(90 50 50)">
                            <rect x="47" y="24" rx="9.4" ry="4.8" width="6" height="12" fill="#8cd0e5">
                                <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.6666666666666666s" repeatCount="indefinite"></animate>
                            </rect>
                        </g>
                        <g transform="rotate(120 50 50)">
                            <rect x="47" y="24" rx="9.4" ry="4.8" width="6" height="12" fill="#8cd0e5">
                                <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.5833333333333334s" repeatCount="indefinite"></animate>
                            </rect>
                        </g>
                        <g transform="rotate(150 50 50)">
                            <rect x="47" y="24" rx="9.4" ry="4.8" width="6" height="12" fill="#8cd0e5">
                                <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.5s" repeatCount="indefinite"></animate>
                            </rect>
                        </g>
                        <g transform="rotate(180 50 50)">
                            <rect x="47" y="24" rx="9.4" ry="4.8" width="6" height="12" fill="#8cd0e5">
                                <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.4166666666666667s" repeatCount="indefinite"></animate>
                            </rect>
                        </g>
                        <g transform="rotate(210 50 50)">
                            <rect x="47" y="24" rx="9.4" ry="4.8" width="6" height="12" fill="#8cd0e5">
                                <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.3333333333333333s" repeatCount="indefinite"></animate>
                            </rect>
                        </g>
                        <g transform="rotate(240 50 50)">
                            <rect x="47" y="24" rx="9.4" ry="4.8" width="6" height="12" fill="#8cd0e5">
                                <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.25s" repeatCount="indefinite"></animate>
                            </rect>
                        </g>
                        <g transform="rotate(270 50 50)">
                            <rect x="47" y="24" rx="9.4" ry="4.8" width="6" height="12" fill="#8cd0e5">
                                <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.16666666666666666s" repeatCount="indefinite"></animate>
                            </rect>
                        </g>
                        <g transform="rotate(300 50 50)">
                            <rect x="47" y="24" rx="9.4" ry="4.8" width="6" height="12" fill="#8cd0e5">
                                <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.08333333333333333s" repeatCount="indefinite"></animate>
                            </rect>
                        </g>
                        <g transform="rotate(330 50 50)">
                            <rect x="47" y="24" rx="9.4" ry="4.8" width="6" height="12" fill="#8cd0e5">
                                <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="0s" repeatCount="indefinite"></animate>
                            </rect>
                        </g>
                    </svg>
                </center>
            </div>
            <div class="modal-footer">
            </div>

        </div>
    </div>

</div>
<script src="~/js/base64.js"></script>
<script src="~/js/main.js"></script>
<script src="~/js/mdb.min.js"></script>
<script src="~/js/papaparse.min.js"></script>
<script src="~/js/popper.min.js"></script>
<script src="~/js/storeData.js"></script>